[core]
	ignorecase = false
	editor = /usr/bin/vim
[user]
	name = Joe Previte
	email = jjprevite@gmail.com
	signingkey = 23C820F48937A3E8
[alias]
	p = !git push origin $(git rev-parse --abbrev-ref HEAD)
	n = !git checkout -b
        co = !git checkout
        unstage = !git reset HEAD --
        c = "!git add -A && git commit -m "
[push]
	default = current
[credential]
	helper = cache --timeout=15552000
